body {
    margin: 0px;
    padding: 0px; 
    overflow-x: hidden;
    background-color: white;
}
.logo {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    left: 50%;
    display: block;
    background-color:white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 25px;
    text-decoration: none;
    line-height: 32px;
}

.nav-bar> ul li {
    display: block;
    background-color: rgb(14,105,153);
    padding: 0px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(14,105,153);
    font-family: "RO Sans",Calibri,sans-serif;
}

li a:hover {
    background-color: rgb(39,170,231);}

li a:visited {
    background-color: rgb(46,121,170);
}

.main-photo {
    z-index: -1;
    padding: 0px;
}
div.search-bar input[type=text]{
    position: absolute;
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    width: 20%;
    background: #f1f1f1;
    z-index: 1;
    top: 250px;
    right: 80px;

  }

div.search-bar button {
    position: absolute;
    width: 3%;
    padding: 17px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    z-index: 2;
    top: 250px;
    right: 80px;
  }

  .image-bar {
      position: absolute;
      z-index: 3;
      background-color: white;
      padding: 25px;
      margin: 12px;
      font-family: "RO Sans",Calibri,sans-serif;
      font-size: 10px;
      color: rgb(14,105,153);
      top: 250px;
      left: 50px;
  }

h1 {
    color: gray;
}

h2 {
    color: gray;
}
h2 a:hover {
    background-color: rgb(39,170,231);}

h2 a:visited {
    background-color: rgb(200, 214, 189);
}

.parent {
    display: flex;
    background-color: rgb(243,243,243);
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 80px;
    padding-top: 0px;
    margin-bottom: 0px;
    
}

.bar2 {
    flex: 1;
    flex-basis: 20%;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 15px;
}

/* From this point forward this is for the bottom of the page */

.end-menu {
    background-color: rgb(14,105,153);
    margin: 0px;
    padding: 0px;
    display: flex;

}

.providing {
    position: relative;
    left: 50px;
    top: 30px;
    display: flex;
}

.vertical-menu {
    width: 200px; 
    background-color: rgb(14,105,153);
    position: relative;
    left: 440px;
    padding: 40px;
    
}

.vertical-menu a {
    background-color: rgb(14,105,153); 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: rgb(39,170,231); /* Dark grey background on mouse-over */
}

/* From this point forward this is for the footer  */

.footer {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 25px;
    display: block;

}


.footer-menu {
    width: 700px; 
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 440px;
    border: 2px solid rgb(39,170,231);
    
    
}

.footer-menu a {
    background-color: rgb(255, 255, 255); /* Grey background color */
    color: black; /* Black text color */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.footer-menu a:hover {
    background-color: rgb(39,170,231); /* Dark grey background on mouse-over */
}



